h1{
    color: red;

}

p {
    color: rgb(71, 66, 60);
    font-family: 'Courier New', Courier, monospace;
}

div {
    color: green;
}

li {
    list-style-type: none;
  }

.parrafo1 {
    font-size: 32px;
}

.importante{
    color: orange;
    font-weight: bold;
}

.muyimportante{
    font-size: 62px;
}

.azul {
    color: blue;
}
